html, body , header{
  margin: 0 !important;
  padding:0 !important; 
  
}
body {
  margin: 0 !important;
  /* background-color: red !important;  */

  /* background-image: url('/dust.png'); */
  background: linear-gradient(90deg, #0d0028, #270e3d, #824f87);
}

:root {
  padding:0 !important;
  margin: 0 !important;
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;
  /* background: linear-gradient(90deg, #2d2d2f, #270e3d, #480f4e, #bd86b2, #0d0028); */
  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87);  */
  /* background-color: red;  */


}
 