html, body , header{
  margin: 0 !important;
  padding:0 !important; 
}
body {
  margin: 0 !important;

  
}
:root {
  padding:0 !important;
  margin: 0 !important;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87); 
  /* background-color: #0050FF;  */
  background-color:linear-gradient(90deg, #0d0028, #270e3d, #480f4e, #6e075a, #95005f, #bb005e, #df0056, #ff0048);
  background-image: url('/dust.png');
}
 